#notification-area {
    margin-bottom: 20px;
}
div.notification { padding-top: 0; padding-bottom: 0; }
div.notification { margin-bottom:0; }

.card-tooltip { cursor: pointer; }
.card-tooltip:hover { text-decoration: none; }

.magicicon { display: inline-block; position:relative; top: -2px; }

.table-short { width: auto; }

.tooltip-title { display: none; }
.tooltip-inner { padding: 0; background-color: transparent; }
.tooltip { width: auto; background-color: #ffffff; padding: 2px;
    -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }
.tooltip.in { opacity: 1; }

.user-description { word-wrap: break-word; }

.label-x-large { font-size: 22px; line-height:24px; }

.trade-summary { white-space: nowrap; display: inline-block; }
.trade-summary>div>:first-child { font-weight: bold; font-size: 20px; line-height: 22px; }
.summary-column { float: left; margin-right: 2em; font-size: 18px; line-height: 20px; }

/*From http://davidchambersdesign.com/captions-over-images */

div.captioned-image { position: relative; margin: 0; display: inline-block; }
div.captioned-image dt img { display: block; }
div.captioned-image dd { position: absolute; left: 0; font: bold 1.5em/1.25em Helvetica, sans-serif; margin: 0 5px 0 0; }
div.captioned-image dd.bottom-caption { bottom: 0; margin: 0 0 5px 5px;}
div.captioned-image dd.top-caption { top: 1.25em; font: bold 2.125em/1.25em Helvetica, sans-serif; }
div.captioned-image dd p { display: block; float: left; clear: both;
    background: #000; background: rgba(0, 0, 0, 0.8);
    padding: 0.25em 0.5em; color: #fff; margin: 0; }